body{
	background-image: url("sky.jpg");
	background-color: black;
}
h1{
	font-size: 60px;
	color: white;
	text-align: center;
}
#gifs-button{
	text-align: center;
}
.gif{
	border-width: 7px;
	color: black;

}  
#gif-form{
	text-align: center;
}
.gify {
	float: left;
	display: inline-block;
}

